<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>SecretKey</param-name>
        <param-value>ChiaveDiDecrypt</param-value>
    </context-param>

    <servlet>
        <servlet-name>AddAnnotation</servlet-name>
        <servlet-class>Progetto.AddAnnotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>campaignInfoPage</servlet-name>
        <servlet-class>Progetto.campaignInfoPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileInfo</servlet-name>
        <servlet-class>Progetto.ChangeProfileInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CloseCampaign</servlet-name>
        <servlet-class>Progetto.CloseCampaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCampaign</servlet-name>
        <servlet-class>Progetto.CreateCampaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAnnotation</servlet-name>
        <servlet-class>Progetto.GetAnnotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCampaignInfo</servlet-name>
        <servlet-class>Progetto.GetCampaignInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCampaignStatus</servlet-name>
        <servlet-class>Progetto.GetCampaignStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Progetto.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Progetto.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefuseAnnotation</servlet-name>
        <servlet-class>Progetto.RefuseAnnotation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Progetto.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartCampaign</servlet-name>
        <servlet-class>Progetto.StartCampaign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subscribe</servlet-name>
        <servlet-class>Progetto.Subscribe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>Progetto.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>Progetto.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>Progetto.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUsersList</servlet-name>
        <servlet-class>Progetto.UpdateUsersList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotSubscribedCamp</servlet-name>
        <servlet-class>Progetto.GetNotSubscribedCamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSubscribedCamp</servlet-name>
        <servlet-class>Progetto.GetSubscribedCamp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPeaks</servlet-name>
        <servlet-class>Progetto.GetPeaks</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddAnnotation</servlet-name>
        <url-pattern>/AddAnnotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>campaignInfoPage</servlet-name>
        <url-pattern>/campaignInfoPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileInfo</servlet-name>
        <url-pattern>/ChangeProfileInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CloseCampaign</servlet-name>
        <url-pattern>/CloseCampaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCampaign</servlet-name>
        <url-pattern>/CreateCampaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAnnotation</servlet-name>
        <url-pattern>/GetAnnotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCampaignInfo</servlet-name>
        <url-pattern>/GetCampaignInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCampaignStatus</servlet-name>
        <url-pattern>/GetCampaignStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefuseAnnotation</servlet-name>
        <url-pattern>/RefuseAnnotation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartCampaign</servlet-name>
        <url-pattern>/StartCampaign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subscribe</servlet-name>
        <url-pattern>/Subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUsersList</servlet-name>
        <url-pattern>/UpdateUsersList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotSubscribedCamp</servlet-name>
        <url-pattern>/GetNotSubscribedCamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSubscribedCamp</servlet-name>
        <url-pattern>/GetSubscribedCamp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPeaks</servlet-name>
        <url-pattern>/GetPeaks</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.io.IOException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>org.apache.commons.fileupload.FileUploadException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.sql.SQLException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.text.ParseException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.IllegalArgumentException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/ErrorHandler</location>
    </error-page>
</web-app>